.book .book-body .page-wrapper .page-inner section.normal pre {
  background-image: url("images/code-square.svg");
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 25px center;
  min-height: 120px;
  font-size: .85em;
  line-height: 1;
  background-color: #ebeced !important;
  border: dashed 5px #cccecf;
  width: auto;
}

.book .book-body .page-wrapper .page-inner section.normal code {
  font-size: 1em !important;
  background-color: #ebeced !important;
  border-radius: 4px;
}

.book .book-body .page-wrapper .page-inner section.normal pre.small-block {
  width: 75%;
}

img {
  border-radius: 4px;
}

.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}
.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}
.level1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
}
.level1 h1 {
  border-bottom: 1px solid;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h1.title {
  font-weight: 700;
}
.smallcaps {
  font-variant: small-caps;
}
.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 600;
}

/* -----------div tips------------- */

div.code {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 25px center;
  min-height: 120px;
  background-color: #ebeced;
  border: dashed 5px #cccecf;
}

div.code {
  background-image: url("images/code-square.svg");
}

div.note, div.idea, div.quote {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 25px center;
  min-height: 120px;
  color: #1f5386;
  background-color: #dfedff;
  border: dashed 5px #bed3ec;
}

div.note {
 background-image: url("images/exclamation-square.svg");
}

div.idea {
  background-image: url("images/lightbulb.svg");
}

div.quote {
  background-image: url("images/chat-right-quote.svg");
}

